<% provide(:title, 'Writing') %>
<%= render partial: 'writingsheader' %>


<% for writing in @writings do %>
<%= link_to (writing_path(writing)) do %>
	<div class = "writing-link <%= 'bucknellian-article-hover' if writing.publication == 'The Bucknellian'%> <%= 'etc-article-hover' if writing.publication == 'Etcetera Magazine'%> <%='cv-article-hover' if writing.publication == 'Campus Vinyl'%> <%='lib-article-hover' if writing.publication == 'Bucknell University Archives'%>">
		<div class = "writing-link-content">
			<p><span id = "writing-pub"><%=writing.publication%></span><span id = "writing-date"> &#8212; <%=writing.date%></span></p>
		<h3><%=writing.title%></h3>	
		</div>
	</div>
<% end %>
<% end %>


