<% provide(:title, 'Article') %>
<%= render partial: 'writingsheader' %>

<div class = "writing-wrapper">
	<h3 class = "writing-title"><%=@writing.title %></h3>
	<div class = "writing-content">
		<p id = "published-in">
			Originially published in <i><span id = "writing-show-publication"><%= link_to @writing.publication, "#{@writing.publication_link}", :target => "_blank"%></span></i> 
		</p>
		<p id = "writing-show-date"><%= @writing.date %></p>
		<p><%=@writing.body.html_safe %></p>
		<div class = "article-line"></div>
	</div>
</div>



