<% provide(:title, 'Home') %>
<div class = "about-slide-container">
	<div class = "about-slide-head">
		<div class = "back-circle back"><i class = "pe-7s-angle-left"></i></div>
	</div>
	<div class = "about-icon">

	</div>
	<div class = "about-text-container">
		<div class = "about-text-wrapper">
			<p>I am currently a writer and web developer from Boulder, Colorado with a degree in mathematics and economics from Bucknell University.</p>
			<ul class = "about-icons">
				<li><a href="https://www.facebook.com/T0MB0NE" target="_blank" class = "about-icon-circle"><%=image_tag(('icons/facebook-color.png'), :class => "icon-about")%></a></li>
				<li><a href="https://github.com/tombonan" target="_blank" class = "about-icon-circle"><%=image_tag(('icons/github-color.png'), :class => "icon-about")%></a></li>
				<li><a href="https://www.linkedin.com/in/tombonan" target="_blank" class = "about-icon-circle"><%=image_tag(('icons/linkedin-color.png'), :class => "icon-about")%></a></li>
				<li><a href="/writing" class = "about-icon-circle"><%=image_tag(('icons/writing-color.png'), :class => "icon-about")%></a></li>
				<li><a href="mailto:tlb018@bucknell.edu" class = "about-icon-circle"><%=image_tag(('icons/email-color.png'), :class => "icon-about")%></a></li>
			</ul>
		</div>
	</div>
	<div class = "section-head">
		<h1>Current Projects</h1>
	</div>
	<div class = "current-projects-list">
		<div class = "etcetera">
			<h3>Interface for the Case.law API</h3>
			<h4><a href="https://github.com/tombonan/case-law" target="_blank">Github Repo</a></h4>
		</div>
	</div>
	<div class = "section-head">
		<h1>Selected Writing</h1>
	</div>
	<div class = "selected-writing">
		<% for writing in @writings do %>
			<div class = "writing-block">
				<h3><%= link_to writing.title, writing_path(writing) %></h3>
				<h4><%= writing.publication %></h4>
			</div>
		<% end %>
	</div>

</div>
<div class = "background-image">
<div class = "overlay unclicked">
	<a href="" class = "top-link about" id = "about"><span class = "fade-in-nav"><i class = "icon top"></i>About</span></a>
	<a href="/writing" class = "top-link fade-in-nav" id = "writing"><span class = "fade-in-nav"><i class = "icon top"></i>Writing</span></a>
	<a href="/projects" class = "top-link fade-in-nav" id = "projects"><span class = "fade-in-nav"><i class = "icon top"></i>Projects</span></a>

	<% if false %>
	<a href="/portfolio" class = "top-link fade-in-nav" id = "portfolio"><span class = "fade-in-nav"><i class = "icon top"></i>Work</span></a>
	<% end %>

	<div class = "home-center hide">
		<!-- <div class = "laptop-icon fade-in-icon"></div> -->
		<div class = "home-icon">
			<span class = "icon-dots">
				<span class = "icon-dot dot-one"></span>
				<span class = "icon-dot dot-two"></span>
				<span class = "icon-dot dot-three"></span>
			</span>
			<span class = "icon-divider"></span>
			<span class = "icon-lines">
				<span class = "icon-line line-one"></span>
				<span class = "icon-line line-two"></span>
				<span class = "icon-line line-three"></span>
			</span>
			<span class = "icon-block"></span>
		</div>
		<h1 class = "fade-in-head">Tom Bonan</h1>
		<h2 class = "fade-in-text">Web Design</h2>
	</div>

	<div class = "footer footer-hide">
		<ul class = "foot-icons hide fade-in-icons">
			<li class = "foot-icon"><a href="https://www.facebook.com/T0MB0NE" target="_blank"><i class = "icon facebook"></i></a></li>
			<li class = "foot-icon"><a href="https://github.com/tombonan" target="_blank"><i class = "icon github"></i></a></li>
			<li class = "foot-icon"><a href="https://www.linkedin.com/in/tombonan" target="_blank"><i class = "icon linkedin"></i></a></li>
			<li class = "foot-icon"><a href="/writing"><i class = "icon writingicon"></i></a></li>
			<li class = "foot-icon"><a href="mailto:tlb018@bucknell.edu"><i class = "icon mail"></i></a></li>
			<li class = "foot-icon about"><a href=""><i class = "icon menu"></i></a></li>
		</ul>
	</div>
</div>
</div>
