<% provide(:title, 'NYRB') %>

<div class = "nyrb-wrapper">
	<% for nyrb in @nyrbs do %>
		<div class = "nyrb-block">
			<div class = "color-block">
				<div class = "nyrb-background" style = "background-color:#<%=nyrb.background_color%>;">
				</div>
				<div class = "nyrb-title" style = "background-color:#<%=nyrb.title_color%>;">
				</div>
				<div class = "nyrb-border" style = "background-color:#<%=nyrb.border_color%>;">
				</div>
			</div>
			<div class = "content-block">
				<%= link_to nyrb.link, :target => "_blank" do %> 
				<h3><%=nyrb.title%></h3>
				<h4><%=nyrb.author%></h4>
				<% end %>
			</div>
		</div>
	<% end %>
</div>




<% if false %> <!-- comment out old code -->
	<% for nyrb in @nyrbs do %>
	<div class = "nyrb-wrapper">
	<%= link_to nyrb.link, :target => "_blank" do %>
	<div class = "nyrb-container" style = "background-color:#<%=nyrb.background_color%>; border-color:#<%=nyrb.border_color%>;">
		<h3 style = "color:#<%=nyrb.title_color%>;"><%=nyrb.title%></h3>
		<div class = "nyrb-divider" style = "background-color:#<%=nyrb.border_color%>;"></div>
		<h4 style = "color:#<%=nyrb.title_color%>;"><%=nyrb.author%></h4>
	</div>	
	<% end %>
	</div>
	<% end %>
<% end %>