<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Raleway:500,400,300' rel='stylesheet' type='text/css'>

  <link href='https://fonts.googleapis.com/css?family=Merriweather:300,300italic' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
  
	<%= favicon_link_tag 'favicon.png' %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copyright" itemprop="copyrightHolder" content="© 2016 Tom Bonan. All rights reserved.">
  <meta name="author" itemprop="creator accountablePerson" content="Tom Bonan">
  <meta name="keywords" content="Tom Bonan, Boulder, Colorado, web design, writer, freelance, music">
  <meta name="robots" content="index/follow">
  <meta name="description" content="Personal Website. Tom Bonan is a freelance web-designer and writer based out of Boulder, Colorado currently studying mathematics and economics at Bucknell University">
</head>
<body class="<%= params[:controller]%>">

<%= yield %>

</body>
</html>
